/* Links
------------------------------------------------------------------- */

a,
a:link {
    color: $ci-1;
    text-decoration: none;
    -webkit-transition: all .15s cubic-bezier(.33,.66,.66,1);
    transition: all .15s cubic-bezier(.33,.66,.66,1);
}

a:visited {
}

a:hover {
}

a:focus {
    color: lighten( $ci-1, 20% );
}

a:active {
    color: darken( $ci-1, 20% );
}

h1 a, h1 a:visited, h1 a:link,
h2 a, h2 a:visited, h2 a:link,
h3 a, h3 a:visited, h3 a:link,
h4 a, h4 a:visited, h4 a:link,
h5 a, h5 a:visited, h5 a:link,
h6 a, h6 a:visited, h6 a:link
{
    border: 0;
}


a a:visited,
a:link img,
a:hover img,
a:focus img,
a:active img,
a img { border: 0; }

a img { border: none; }

article a,
#footer a {
  color: $ci-1;
  box-shadow: inset 0 -3px 0 $ci-2;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: box-shadow 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
}
article a:visited {

}
#footer a:hover,
article a:hover {
  box-shadow: inset 0 -7px 0 $ci-2;
}

article a img  {
  // z-index und relative sind wichtig, damit das Bild unter der Navigation hergleitet
  z-index: -1;
  position: relative;
  display: block;
  border: 0;
  -webkit-transition: all .15s cubic-bezier(.33,.66,.66,1);
  transition: all .15s cubic-bezier(.33,.66,.66,1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

article a img:hover {
    box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16) , 2px 0 2px 0 rgba(0,0,0,0.16) , 0 2px 2px 0 rgba(0,0,0,0.23);
    -webkit-transform: translate3d(0,-3px,0);
    transform: translate3d(0,-3px,0);
}
