<header>
  {{ if .Page.Params.youtube }}

  <amp-youtube
        data-videoid="{{ .Page.Params.youtube }}"
        width="1280"
        height="720"
        layout="responsive">
      <amp-img
        src="https://i.ytimg.com/vi/{{ .Page.Params.youtube }}/hqdefault_live.jpg"
        placeholder
        layout="fill"
        />
  </amp-youtube>

  {{ else if .Page.Params.image.title }}
  <figure class="mt0">
    <amp-img
        src="{{ .Site.BaseURL }}{{ .Page.Params.image.title }}"
        alt="{{ .Title }}"
        width="{{ with .Page.Params.image.title_width }}{{ . }}{{ else }}1600{{ end }}"
        height="{{ with .Page.Params.image.title_height }}{{ . }}{{ else }}900{{ end }}"
        layout="responsive">
    </amp-img>
    {{ if .Page.Params.image.caption }}
      <figcaption>
        {{ if .Page.Params.image.caption_url }}<a href="{{ .Page.Params.image.caption_url }}">{{ end }}
          {{ .Page.Params.image.caption }}
        {{ if .Page.Params.image.caption_url }}</a>{{ end }}
      </figcaption>
    {{ end }}
  </figure>
  {{ end }}


  <h1 class="mt2">{{ if .Page.Params.Subtitle }}
    <span class="subtitle sans caps mb0">{{ .Page.Params.Subtitle }}</span><br>{{ end }}
    {{ .Title | htmlUnescape}}
  </h1>
</header>