<!DOCTYPE html>
<html ⚡="{{ .Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta name="amp-google-client-id-api" content="googleanalytics">

{{ partial "seo/_seo" . }}
{{ partial "amp/scripts.html" . }}
{{ partial "amp/boilerplate.html" . }}

<style amp-custom>
  {{ if eq .Page.Section "seminare" }}
  {{ partial "css/phlow_seminare.css" . | safeCSS }}
  {{ else if or (eq .Page.Section "pages") (eq .Kind "home") }}
  {{ partial "css/phlow_pages.css" . | safeCSS }}
  {{ else if eq .Page.Section "magazin" }}
  {{ partial "css/phlow_magazin.css" . | safeCSS }}
  {{ else if eq .Page.Section "blog" }}
  {{ partial "css/phlow_blog.css" . | safeCSS }}
  {{ else }}
  {{ partial "css/phlow.css" . | safeCSS }}
  {{ end }}
  {{ if .Page.Params.Styles }}{{ .Page.Params.styles | safeCSS }}{{ end }}
</style>


<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ else }}{{ .Site.BaseURL }}{{ .Section }}/index.xml{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} RSS" />


{{ partial "helper/favicon.html" . }}

</head>
<body>
<a id="topofpage" style="height:0; width:0"></a>
{{ partial "helper/google-analytics.html" . }}