<!-- Start Navbar -->
<header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4">
  <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger md-hide lg-hide pr2  ">☰
  </div>
    <a href="{{ .Site.BaseURL }}" class="text-decoration-none inline-block mx-auto ampstart-headerbar-home-link  ">
      <div id="logo" class="ampstart-headerbar-title mx-auto mt2">{{ partial "svg/phlow_logo.svg" }}</div>
    </a>
  <nav class="ampstart-headerbar-nav ampstart-nav xs-hide sm-hide">
    <ul class="list-reset center m0 p0 flex justify-center nowrap">


{{ $nav := .Section }}
{{ range (index .Site.Data.navigation $nav) }}
    {{ if .sidebar }}
      <li class="ampstart-nav-item land-see-sidebar-nav-item ampstart-title-sm monospace {{ if .class }}{{ .class }}{{ end }}"><a class="caps ampstart-nav-link" href="{{ $.Site.BaseURL }}{{ .url }}">{{ .menu_title }}</a></li>

        {{ if .dropdown }}
          <li class="ampstart-nav-item ampstart-nav-dropdown relative {{ if .class }}{{ .class }}{{ end }}">

          <!-- Start Dropdown-inline -->
          <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
            <section expanded="">
            <header>Info</header>
            <ul class="ampstart-dropdown-items list-reset m0 p0">

        {{ range .dropdown }}
          <li class="ampstart-dropdown-item"><a href="{{ $.Site.BaseURL }}{{ .url }}" class="text-decoration-none {{ if .class }}{{ .class }}{{ end }}">{{ .menu_title }}</a></li>
        {{ end }}

            </ul>
            </section>
          </amp-accordion>
  <!-- End Dropdown-inline -->
            </li>

      {{ end }}
    {{ end }}
{{ end }}


      </ul>
    </nav>

    <div class="ampstart-headerbar-fixed center m0 p0 flex justify-center nowrap ">
      <div class="mr2">
      </div>
<!-- SEARCH LUPE
        <a href="#" class="text-decoration-none mr2 ampstart-headerbar-fixed-link ">
          <div class="ampstart-headerbar-icon-wrapper relative"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" overflow="visible"><circle fill="none" stroke="#000" stroke-width="1.68" stroke-miterlimit="10" cx="4.67" cy="4.67" r="3.83"></circle><path fill="none" stroke="#000" stroke-width="1.78" stroke-linecap="round" stroke-miterlimit="10" d="M7.258 7.77l2.485 2.485"></path></svg></div>
        </a>

 -->    </div>
  </header>

<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3  md-hide lg-hide " layout="nodisplay">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" aria-label="Seitenleiste schließen" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
  </div>
  <nav class="ampstart-sidebar-nav ampstart-nav">
    <ul class="list-reset m0 p0 pb2 ampstart-label">
{{ $nav := .Section }}
{{ range (index .Site.Data.navigation $nav) }}
    {{ if .sidebar }}
      <li class="ampstart-nav-item land-see-sidebar-nav-item ampstart-title-sm bold {{ if .class }}{{ .class }}{{ end }}"><a class="ampstart-nav-link" href="{{ $.Site.BaseURL }}{{ .url }}">{{ .menu_title }}</a></li>

        {{ if .dropdown }}
          <li class="ampstart-nav-item ampstart-nav-dropdown relative {{ if .class }}{{ .class }}{{ end }}">

          <!-- Start Dropdown-inline -->
          <amp-accordion layout="container" disable-session-states="" class="ampstart-dropdown">
            <section expanded="">
            <header>Info</header>
            <ul class="ampstart-dropdown-items list-reset m0 p0">

        {{ range .dropdown }}
          <li class="ampstart-dropdown-item"><a href="{{ $.Site.BaseURL }}{{ .url }}" class="text-decoration-none {{ if .class }}{{ .class }}{{ end }}">{{ .menu_title }}</a></li>
        {{ end }}

            </ul>
            </section>
          </amp-accordion>
  <!-- End Dropdown-inline -->
            </li>

      {{ end }}
    {{ end }}
{{ end }}


    </ul>
  </nav>


{{ partial "helper/navigation_social_icons.html" . }}


</amp-sidebar>
<!-- End Sidebar -->
  <!-- End Navbar -->

