/* Typography for Articles
------------------------------------------------------------------- */

.subtitle {
  font-weight: 100;
  color: $grey-color;
  font-size: .5em;
}

.lead {
  font-size: $h6;
}

article p {
  margin-bottom: 1em;
}

article img {
  border-radius: $global-radius;
}
