{{ define "main" }}

<div><!-- wrapper -->
  <div class="px4 lg-px4">
    <div class="max-width-3 mx-auto">
      <article class="clearfix mxn2">
        <header>
          <h1 class="mt2">
            {{ if .Page.Params.subtitle }}
            <span class="subtitle sans caps mt2 mb0">{{ .Page.Params.subtitle }}</span><br>
            {{ end }}
            {{ .Title }}
          </h1>
        </header>

          {{ .Content }}

          <ul class="toc-list">
            {{ range .Pages }}
                <li>
                  <a href="{{.Permalink}}">
                    {{ if .Page.Params.subtitle }}<span class="subtitle sans caps mt2 mb0">{{ .Page.Params.subtitle }}</span>{{ end }}
                    {{.Title}}
                  </a>
                </li>
            {{ end }}
          </ul>

      </article><!-- /clearfix -->
    </div><!-- /max-width-2 -->


  </div><!-- /padding -->
</div><!-- /wrapper -->
{{ end }}