{{ define "main" }}

<!-- wrapper --><div>
  <div class="px4 lg-px4">


<h1>ROOT LIST</h1>
<ul>
  <li>Aktuelle Section {{ .Section }}</li>
  <li>Eltern Section {{.Parent}}</li>
  <li>{{ .CurrentSection }}</li>
</ul>

    <div class="max-width-2 mx-auto">
      <article class="clearfix mxn2">
          <h1>
          <small>{{ .Page.Params.Subheadline }}</small><br>
          {{ .Title }}
          </h1>

          {{ .Content }}

          <ul>
            {{ range .Pages }}
                <li>
                  <a href="{{.Permalink}}">{{.Title}}</a>
                </li>
            {{ end }}
          </ul>

      </article><!-- /clearfix -->
    </div><!-- /max-width-2 -->


  </div><!-- /padding -->
</div><!-- /wrapper -->
{{ end }}