{{ define "main" }}

<div><!-- wrapper -->
  <div class="px4 lg-px4">
    <div class="max-width-3 mx-auto">
      <article class="clearfix mxn2">
        <header>
          <h1 class="mt2">
            {{ if .Page.Params.subtitle }}
            <span class="subtitle sans caps mt2 mb0">{{ .Page.Params.subtitle }}</span><br>
            {{ end }}
            {{ .Title }}
          </h1>
        </header>

          {{ .Content }}

      </article><!-- /clearfix -->
    </div><!-- /max-width-2 -->


  </div><!-- /padding -->
</div><!-- /wrapper -->
{{ end }}

{{ define "footer" }}

<footer id="footer-content">
<div style="margin-top: 16em;" id="subfooter" class="px4 lg-px4">
    <div class="max-width-4 mx-auto">
      <div class="clearfix">
         <div class="px2 center">
            <a class="grey sans" href="https://phlow.de/impressum" target="_blank" title="Impressum &amp; Datenschutz"><small>Impressum &amp; Datenschutz</small></a>
        </div>
      </div>
    </div>
  </div>
</footer>

{{ end }}


