@import "phlow/typography/general_typography",
        "phlow/typography/font_import",
        "phlow/typography/typography_article",
        "phlow/typography/typography_css_elements",
        "phlow/typography/links",
        // "phlow/typography/syntax_highlighting",
        "phlow/typography/typography_media_queries";



@import
            // "phlow/layout/masthead",
            // "phlow/layout/search",
        // "phlow/layout/meta",
        // "phlow/layout/footer",
        // "phlow/layout/alerts",
        // "phlow/layout/toc",
        // "phlow/layout/side-nav",
            // "phlow/layout/layout_elements",
            // "phlow/layout/full_width_background_image",
        // "phlow/layout/card",
        // "phlow/layout/comments",
            // "phlow/layout/cookieconsent",
        // "phlow/layout/svg_icons",
        // "phlow/layout/responsive_video";



.social-media-icon svg {
    margin-bottom: -.35em;
    height: 1.5em;
    width: 1.5em;
    fill: #4b4b4b;
    transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}


#up-to-top {
}
#up-to-top a {
    box-shadow: inset 0 0 0 transparent;
    position: relative;
    display: inline-block;
}
#up-to-top svg {
    fill: #ccc;
}
#up-to-top a svg {
    -webkit-transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    position: absolute;
}
#up-to-top a svg:hover {
    margin-top: -4px;
}



