{{ partial "helper/head.html" . }}
{{ partial "helper/navigation_startseite.html" . }}
<div><!-- wrapper -->
  <div class="px3 lg-px4">

    <div class="max-width-3 mx-auto">
      <article class="clearfix h4">

      {{ .Content }}

      </article><!-- /clearfix -->
    </div><!-- /max-width-2 -->
  </div><!-- /padding -->
</div><!-- /wrapper -->



  <div id="subfooter" class="mt4 px4 lg-px4">
    <div class="max-width-4 mx-auto">
      <div class="clearfix">
         <div class="px2 center">
            <a class="grey sans" href="https://phlow.de/impressum" target="_blank" title="Impressum & Datenschutz"><small>Impressum & Datenschutz</small></a>
        </div>
      </div>
    </div>
  </div><!-- /#subfooter -->


</body>
</html>