{{ partial "head.html" . }}
{{ partial "helper/navigation_startseite.html" . }}
<!-- wrapper --><div>
  <div class="px3 lg-px4">

    <div class="max-width-3 mx-auto">
      <article class="clearfix h4">

      {{ .Content }}

      </article><!-- /clearfix -->
    </div><!-- /max-width-2 -->
  </div><!-- /padding -->
</div><!-- /wrapper -->



  <div id="subfooter" class="mt4 px4 lg-px4">
    <div class="max-width-4 mx-auto">
      <div class="clearfix">
         <div class="px2 center">

          <ul class="list-reset">

          {{ with .Site.Params.socialmedia.github }}
            <li class="inline-block mr1 social-media-icon"><a href="https://github.com/{{ . }}" target="_blank" title="Phlow @ Github">{{ partial "svg/social-media/github_ring.svg" }}</a></li>
          {{ end }}

          {{ with .Site.Params.socialmedia.youtube }}
            <li class="inline-block mr1 social-media-icon"><a href="https://www.youtube.com/user/{{ . }}" target="_blank" title="Phlow @ Youtube">{{ partial "svg/social-media/youtube.svg" }}</a></li>
          {{ end }}

          {{ with .Site.Params.socialmedia.twitter }}
            <li class="inline-block mr1 social-media-icon"><a href="https://twitter.com/{{ . }}" target="_blank" title="Phlow @ Twitter">{{ partial "svg/social-media/twitter.svg" }}</a></li>
          {{ end }}

          {{ with .Site.Params.socialmedia.facebook }}
            <li class="inline-block mr1 social-media-icon"><a href="https://facebook.com/{{ . }}" target="_blank" title="Phlow @ Facebook">{{ partial "svg/social-media/facebook_square.svg" }}</a></li>
          {{ end }}

          {{ with .Site.Params.socialmedia.soundcloud }}
            <li class="inline-block mr1 social-media-icon"><a href="https://soundcloud.com/{{ . }}" target="_blank" title="Phlow auf Soundcloud">{{ partial "svg/social-media/soundcloud_notext.svg" }}</a></li>
          {{ end }}

          {{ with .Site.Params.socialmedia.instagram }}
            <li class="inline-block mr1 social-media-icon"><a href="https://www.instagram.com/{{ . }}" target="_blank" title="Phlow auf Instagram">{{ partial "svg/social-media/instagram.svg" }}</a></li>
          {{ end }}

          {{ with .Site.Params.socialmedia.rss }}
            <li class="inline-block mr1 social-media-icon"><a href="{{ . }}" target="_blank" title="RSS abonnieren">{{ partial "svg/social-media/rss.svg" }}</a></li>
          {{ end }}
            <li class="inline-block mr1 social-media-icon"><a class="grey sans" href="https://phlow.de/impressum" target="_blank" title="Impressum & Datenschutz"><small>Impressum & Datenschutz</small></a></li>

          </ul>
        </div>
      </div>
    </div>
  </div><!-- /#subfooter -->


</body>
</html>