/* Inhaltsverzeichnis
--------------------------------------------------------------------

- Buttons
- Button Styles
- Button Sizes

*/

/* Buttons
------------------------------------------------------------------- */

.button,
a.button:visited {
  font-family: $font-family-sans;
  color: $text-color;
  background: $grey-color-light-light;
  box-shadow: 0 3px $grey-color-light;
  border: none;
  letter-spacing: 1px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  padding: 0.25em 1em;
  margin: 0 1em .25em 0;
}

.button:hover,
a.button:hover {
  background: $grey-color-super-light;
  box-shadow: 0 3px $grey-color-light-light !important;
}

.button:active {
  color: $text-color;
  background: mix(#fff, $ci-1, 20%);
  transform: translateY(2px);
}


/* Button Styles
----------------------------------------------------------------- */

.button.noborder {
  color: $text-color !important;
  background: transparent !important;
  box-shadow: 0 0 #fff !important;
  border: 1px solid $grey-color-light !important;
}
.button.noborder:hover {
  background: rgba(0, 0, 0, .1) !important;
  box-shadow: 0 0 $grey-color-light !important;
}

.button.alert {
  color: #fff !important;
  background: $alert-color !important;
  box-shadow: 0 3px mix(#000, $alert-color, 20%) !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.alert:hover {
  background: lighten( $alert-color, 5% ) !important;
  box-shadow: 0 3px lighten( $alert-color, 15% ) !important;
}

.button.success {
  color: #fff !important;
  background: $success-color !important;
  box-shadow: 0 3px mix(#000, $success-color, 20%) !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.success:hover {
  background: lighten( $success-color, 5% ) !important;
  box-shadow: 0 3px lighten( $success-color, 15% ) !important;
}

.button.warning {
  color: #fff !important;
  background: $warning-color !important;
  box-shadow: 0 3px mix(#f00, $warning-color, 20%) !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.warning:hover {
  background: lighten( $warning-color, 10% ) !important;
  box-shadow: 0 3px lighten( $warning-color, 25% ) !important;
}

.button.info {
  color: #fff !important;
  background: $info-color !important;
  box-shadow: 0 3px mix(#000, $info-color, 40%) !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.info:hover {
  background: lighten( $info-color, 10% ) !important;
  box-shadow: 0 3px lighten( $info-color, 40% ) !important;
}

.button.grey {
  color: #fff !important;
  background: $grey-color !important;
  box-shadow: 0 3px $grey-color-dark !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.grey:hover {
  background: mix(#000, $grey-color, 30%) !important;
  box-shadow: 0 3px mix(#000, $grey-color, 60%) !important;
}

/* Button Sizes
----------------------------------------------------------------- */

.button-small {
  font-size: $font-size-small;
  line-height: $font-size-small*1.5;
}
.button-large {
  font-size: $h5;
}
