{{ define "main" }}

<article class="clearfix">

    {{ .Content }}

    {{ range first 1 .Pages }}
      <div class="mb4">

        {{ if .Params.image.title }}
        <a href="{{.Permalink}}">
          <amp-img
              src="{{ .Site.BaseURL }}{{ .Params.image.title }}"
              alt="{{ .Title }}"
              width="{{ with .Params.image.title_width }}{{ . }}{{ else }}1600{{ end }}"
              height="{{ with .Params.image.title_height }}{{ . }}{{ else }}900{{ end }}"
              layout="responsive">
          </amp-img>
          </a>
        {{ end }}


        {{ if .Params.Subtitle }}
          <p class="mt1 mb0 subtitle">{{ .Params.Subtitle }}</p>
        {{ end }}

        <h2 class="mt0 mb0"><a href="{{.Permalink}}">{{ .Title }}</a></h2>
    {{ if in .RawContent "<!-- readmore -->" }}

      {{ $summary_part := split .RawContent "<!-- readmore -->" }}
      {{ $summary := index $summary_part 0 }}
      {{ $summaryHTML := safeHTML $summary }}
      {{ $summaryHTML := replace $summaryHTML "<p>" "" }}
      {{ $summaryHTML := replace $summaryHTML "</p>" "" }}

      {{ $summary_content := split .Content "<!-- readmore -->" }}
      {{ $content := index $summary_content 1 }}
      {{ $contentHTML := safeHTML $content }}

      {{ if eq $summaryHTML .Content }}
         {{ .Summary }}
      {{ else }}
          <p class="h6">{{ $summaryHTML | htmlUnescape | markdownify }} <strong><a href="{{.Permalink}}">Weiterlesen ›</a></strong></p>
      {{ end }}
    {{ else }}
      <p class="h6">{{ .Summary }} <strong><a href="{{.Permalink}}">Weiterlesen ›</a></strong></p>
    {{ end}}


      </div>
    {{ end }}


    <ul>
      {{ range after 1 (first 12 .Pages) }}
          <li>
            <a href="{{.Permalink}}">{{ if .Params.Subtitle }}{{ .Params.Subtitle }} | {{ end }}{{ .Title }}</a>
          </li>
      {{ end }}
    </ul>

</article><!-- /clearfix -->
{{ end }}

