{{ define "main" }}

<article class="clearfix">

    {{ .Content }}

    {{ range first 3 .Pages }}
      <div class="mb4">

        {{ if .Params.image.title }}
          <amp-img
              src="{{ .Site.BaseURL }}{{ .Params.image.title }}"
              alt="{{ .Title }}"
              width="{{ with .Params.image.title_width }}{{ . }}{{ else }}1600{{ end }}"
              height="{{ with .Params.image.title_height }}{{ . }}{{ else }}900{{ end }}"
              layout="responsive">
          </amp-img>
        {{ end }}


        {{ if .Params.Subtitle }}
          <p class="mt1 mb0">{{ .Params.Subtitle }}</p>
        {{ end }}

        <h2 class="mt0 mb0"><a href="{{.Permalink}}">{{ .Title }}</a></h2>

        <p>{{.Summary}}</p>
      </div>
    {{ end }}


    <ul class="toc-list">
      {{ range after 3 (first 12 .Pages) }}
          <li>
            <a href="{{.Permalink}}">{{ if .Params.Subtitle }}{{ .Params.Subtitle }} | {{ end }}{{ .Title }}</a>
          </li>
      {{ end }}
    </ul>

</article><!-- /clearfix -->
{{ end }}

