.social-media-icon svg {
    margin-bottom: -.35em;
    height: 1.5em;
    width: 1.5em;
    fill: #4b4b4b;
    transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

#up-to-top svg {
    fill: #ccc;
}
#up-to-top a svg {
    -webkit-transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}
