  {{- if isset .Params "canonical" }}
  <link rel="canonical" href="{{ .Params.Canonical }}" />
  {{- else }}
  <link rel="canonical" href="{{ .Permalink }}" />
  {{- end }}
  {{/* How it works
  *
  *   Exclude sections and taxonomy index pages from the site indexing
  *
  */}}
  {{- if or (eq .Params.meta_robots false) (eq .Kind "taxonomy") (eq .Type "categories") (eq .Section "link") -}}
  <meta name="robots" content="noindex, follow"/>
  {{- else }}
  <meta name="robots" content="index, follow"/>
  {{- end }}