{{ define "main" }}

{{ partial "masthead.html" . }}

<main>

  {{ .Content }}
  <ul>
    {{ range (.Paginate .Pages).Pages }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>


Nur Buchkritiken
<ul>
{{ range (where .Site.Pages "Type" "buchkritik") }}
 <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ end }}
</ul>


  <div class="pagination">
    {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
    {{ end }}
  
    <span>{{ .Paginator.PageNumber }}</span>
  </div>
</main>

{{ end }}