
// Converted Variables

$border-width: 1px !default;
$border-radius: 3px !default;

// Custom Media Query Variables


/* Basscss Border */

.border {
  border-top: $border-width solid $line-color;
}

.border-top {
  border-top: $border-width solid $line-color;
}

.border-right {
  border-right: $border-width solid $line-color;
}

.border-bottom {
  border-bottom: $border-width solid $line-color;
}

.border-left {
  border-left: $border-width solid $line-color;
}

.border-none { border: 0 }

.rounded { border-radius: $border-radius }

.circle  { border-radius: 50% }

.rounded-top    { border-radius: $border-radius $border-radius 0 0 }

.rounded-right  { border-radius: 0 $border-radius $border-radius 0 }

.rounded-bottom { border-radius: 0 0 $border-radius $border-radius }

.rounded-left   { border-radius: $border-radius 0 0 $border-radius }

.not-rounded { border-radius: 0 }