    <title>
    {{ if .Page.Params.meta_title }}
      {{ .Page.Params.meta_title }}
    {{ else if .Page.Title }}
      {{ .Page.Title }}
    {{ else }}
      {{ .Site.Title }} – {{ .Site.Params.slogan }}
    {{ end }}
    </title>

    
    {{ if (isset .Params "meta_description") }}
      <meta name="description" content="{{ .Page.Params.meta_description }}">
    {{ else if .Page.Description }}
      <meta name="description" content="{{ .Description }}">
    {{ else if eq .URL "/" }}
      <meta name="description" content="{{ .Site.Params.Description }}">
    {{ end }}
    

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Params.description }}{{ if eq $isHomePage false }} - {{ .Description }}{{ end }}">
    <meta property="og:image" content="{{ $.Site.BaseURL }}img/about-me.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta property="twitter:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}">
    <meta property="twitter:description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Params.description }}{{ if eq $isHomePage false }} - {{ .Description }}{{ end }}">
    <meta property="twitter:image" content="{{ $.Site.BaseURL }}img/about-me.jpg">



    {{ if .Site.Params.pinterest_verification }}
    <meta name="p:domain_verify" content="{{ .Site.Params.pinterest_verification }}"/>{{ end }}
    {{ if .Site.Params.google_site_verification }}<meta name="google-site-verification" content="{{ .Site.Params.google_site_verification }}" />{{ end }}

    <base href="{{ $.Site.BaseURL }}">

