/* Global Variables
-------------------------------------------------------------------

These settings are needed to set the breakpoints for typography
and to adjust the masthead

*/

$global-radius  :     3px;
$small          :   640px;
$medium         :  1024px;
$large          :  1440px;


/* Color Variables
-------------------------------------------------------------------- */

$ci-1                               : #aa0132;   // phlow-rotbraun
$ci-2                               : #fabb00;   // phlow-orange
$ci-3                               : #900055;   // phlow-dunkel-blau
$ci-4                               : #d4007a;   // phlow-hell-blau
// Alerts
$alert-color                        : #aa0132;   // phlow-rotbraun
$success-color                      : #00792c;   // phlow-dunkel-gruen
$warning-color                      : #e05a10;   // phlow-orange
$info-color                         : #005380;   // phlow-dunkel-blau
// Grey Scale
$grey-color-super-light             : #f8f8f8;
$grey-color-light-light             : #f0f0f0;
$grey-color-light                   : #ccc;
$grey-color                         : #4b4b4b;
$grey-color-dark                    : #323232;
// Basics
$text-color                         : #111;
$background-color                   : #fefefe;
$background-light-color             : $grey-color-light-light;
$line-color                         : $grey-color-light;
$topbar-navigation-background-color : 'rgba(#fefefe, 0.8)';   // background-color
$topbar-navigation-link-color       : #005380;
$topbar-navigation-link-hover-color : #82cbd0;
$topbar-navigation-border-bottom    : 1px solid #ccc;
$footer-color                       : #828282;


/* Typography
------------------------------------------------------------------- */

/* Font Families */
$base-font-family                  : Georgia, "Times New Roman", serif;
$font-family-serif                 : Georgia, "Times New Roman", serif;
$font-family-sans                  : "Open Sans", "Neue Helvetica", Arial, serif;
$font-family-mono                  : "Inconsolata", "Courier New", Monaco, monospace;
$header-font-family                : "Open Sans", "Neue Helvetica", Arial, serif;
$header-font-family-h1             : "Open Sans Condensed", "Open Sans", "Neue Helvetica", Arial, serif;

/* Font Sizes */
$base-font-size                    :    16px;
$base-font-size-medium-screen      :    18px;
$base-font-size-large-screen       :    20px;
$font-size-p                       :     1em;
$h1                                : 2.281em;
$h2                                : 1.802em;
$h3                                : 1.602em;
$h4                                : 1.424em;
$h5                                : 1.266em;
$h6                                : 1.125em;
$font-size-small                   :   .85em;

/* Line-height */
$base-line-height: 1.65;

/* Font Weight */
$base-font-weight     : normal;
$font-weight-normal   : normal;
$font-weight-bold     : bold;
