.ampstart-title-lg {
  font-size: 2.5rem;
  line-height: 3.5rem;
  letter-spacing: .06rem
}

.ampstart-title-md {
  font-size: 1.625rem;
  line-height: 2.5rem;
  letter-spacing: .06rem
}

.ampstart-title-sm {
  font-size: 1.3125rem;
  line-height: 2.0625;
  letter-spacing: .06rem
}

.ampstart-byline,.ampstart-caption,.ampstart-hint,.ampstart-label {
  font-size: 1rem;
  color: #4f4f4f;
  line-height: 1.42857;
  letter-spacing: .06rem
}

.ampstart-label {
  text-transform: uppercase
}

.amp-carousel-button-next {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Next</title><path d="M25.557 14.7L13.818 2.961 16.8 0l16.8 16.8-16.8 16.8-2.961-2.961L25.557 18.9H0v-4.2z" fill="%23FFF" fill-rule="evenodd"/></svg>')
}

.amp-carousel-button-prev {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Previous</title><path d="M33.6 14.7H8.043L19.782 2.961 16.8 0 0 16.8l16.8 16.8 2.961-2.961L8.043 18.9H33.6z" fill="%23FFF" fill-rule="evenodd"/></svg>')
}

.ampstart-dropdown {
  min-width: 200px
}

.ampstart-dropdown.absolute {
  z-index: 100
}

.ampstart-dropdown.absolute>section,.ampstart-dropdown.absolute>section>header {
  height: 100%
}

.ampstart-dropdown>section>header {
  background-color: $background-color;
  border: 0;
  color: $text-color
}

.ampstart-dropdown>section>header:after {
  display: inline-block;
  content: "+";
  padding: 0 0 0 1.5rem;
  color: #808992
}

.ampstart-dropdown>[expanded]>header:after {
  content: "–"
}

.absolute .ampstart-dropdown-items {
  z-index: 200
}

.ampstart-dropdown-item {
  background-color: $background-color;
  color: $text-color;
  opacity: .9
}

.ampstart-dropdown-item:active,.ampstart-dropdown-item:hover {
  opacity: 1
}

.ampstart-footer {
  background-color: $background-color;
  padding-top: 5rem;
  padding-bottom: 5rem
}

.ampstart-image-fullpage-hero {
  color: $text-color
}

.ampstart-fullpage-hero-heading-text,.ampstart-image-fullpage-hero .ampstart-image-credit {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: #fff;
  padding: 0 1rem .2rem
}

.ampstart-image-fullpage-hero>amp-img {
  max-height: calc(100vh - 3.5rem)
}

.ampstart-image-fullpage-hero>amp-img img {
  -o-object-fit: cover;
  object-fit: cover
}

.ampstart-fullpage-hero-heading {
  line-height: 3.5rem
}

.ampstart-fullpage-hero-cta {
  background: transparent
}

.ampstart-readmore {
  background: linear-gradient(0deg,rgba(0,0,0,.65) 0,transparent);
  color: $text-color;
  margin-top: 5rem;
  padding-bottom: 3.5rem
}

.ampstart-readmore:after {
  display: block;
  content: "⌄";
  font-size: 1.625rem
}

.ampstart-readmore-text {
  background: #fff
}

@media (min-width:52.06rem) {
  .ampstart-image-fullpage-hero>amp-img {
    height: 60vh
  }
}

.ampstart-image-heading {
  color: $text-color;
  background: linear-gradient(0deg,rgba(0,0,0,.65) 0,transparent)
}

.ampstart-image-heading>* {
  margin: 0
}

amp-carousel .ampstart-image-with-heading {
  margin-bottom: 0
}

.ampstart-image-with-caption figcaption {
  color: #4f4f4f;
  line-height: 1.42857
}

amp-carousel .ampstart-image-with-caption {
  margin-bottom: 0
}

.ampstart-input {
  max-width: 100%;
  width: 300px;
  min-width: 100px;
  font-size: 1rem;
  line-height: 1.6
}

.ampstart-input [disabled],.ampstart-input [disabled]+label {
  opacity: .5
}

.ampstart-input [disabled]:focus {
  outline: 0
}

.ampstart-input>input,.ampstart-input>select,.ampstart-input>textarea {
  width: 100%;
  margin-top: 1.11111;
  line-height: 1.6;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #3e6458;
  background: none;
  color: #3e6458;
  outline: 0
}

.ampstart-input>label {
  color: #fff;
  pointer-events: none;
  text-align: left;
  font-size: 1rem;
  line-height: 1.11111;
  opacity: 0;
  animation: .2s;
  animation-timing-function: cubic-bezier(.4,0,.2,1);
  animation-fill-mode: forwards
}

.ampstart-input>input:focus,.ampstart-input>select:focus,.ampstart-input>textarea:focus {
  outline: 0
}

.ampstart-input>input:focus:-ms-input-placeholder,.ampstart-input>select:focus:-ms-input-placeholder,.ampstart-input>textarea:focus:-ms-input-placeholder {
  color: transparent
}

.ampstart-input>input:focus::placeholder,.ampstart-input>select:focus::placeholder,.ampstart-input>textarea:focus::placeholder {
  color: transparent
}

.ampstart-input>input:not(:placeholder-shown):not([disabled])+label,.ampstart-input>select:not(:placeholder-shown):not([disabled])+label,.ampstart-input>textarea:not(:placeholder-shown):not([disabled])+label {
  opacity: 1
}

.ampstart-input>input:focus+label,.ampstart-input>select:focus+label,.ampstart-input>textarea:focus+label {
  animation-name: a
}

@keyframes a {
  to {
    opacity: 1
  }
}

.ampstart-input>label:after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 45%;
  background: #3e6458;
  transition: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  visibility: hidden;
  width: 10px
}

.ampstart-input>input:focus+label:after,.ampstart-input>select:focus+label:after,.ampstart-input>textarea:focus+label:after {
  left: 0;
  width: 100%;
  visibility: visible
}

.ampstart-input>input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.ampstart-input>input[type=range] {
  border-bottom: 0
}

.ampstart-input>input[type=range]+label:after {
  display: none
}

.ampstart-input>select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.ampstart-input>select+label:before {
  content: "⌄";
  line-height: 1.6;
  position: absolute;
  right: 5px;
  zoom: 2;
  top: 0;
  bottom: 0;
  color: #3e6458
}

.ampstart-input-chk,.ampstart-input-radio {
  width: auto;
  color: #3e6458
}

.ampstart-input input[type=checkbox],.ampstart-input input[type=radio] {
  margin-top: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #3e6458;
  vertical-align: middle;
  margin-right: .5rem;
  text-align: center
}

.ampstart-input input[type=radio] {
  border-radius: 20px
}

.ampstart-input input[type=checkbox]:not([disabled])+label,.ampstart-input input[type=radio]:not([disabled])+label {
  pointer-events: auto;
  animation: none;
  vertical-align: middle;
  opacity: 1;
  cursor: pointer
}

.ampstart-input input[type=checkbox]+label:after,.ampstart-input input[type=radio]+label:after {
  display: none
}

.ampstart-input input[type=checkbox]:after,.ampstart-input input[type=radio]:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  line-height: 1.4rem;
  vertical-align: middle;
  text-align: center;
  background-color: #fff
}

.ampstart-input input[type=checkbox]:checked:after {
  background-color: #3e6458;
  color: #3e6458;
  content: "✓"
}

.ampstart-input input[type=radio]:checked {
  background-color: #fff
}

.ampstart-input input[type=radio]:after {
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border-radius: 12px
}

.ampstart-input input[type=radio]:checked:after {
  content: "";
  font-size: 2.5rem;
  background-color: #fff
}

.ampstart-input>label,_:-ms-lang(x) {
  opacity: 1
}

.ampstart-input>input:-ms-input-placeholder,_:-ms-lang(x) {
  color: transparent
}

.ampstart-input>input::placeholder,_:-ms-lang(x) {
  color: transparent
}

.ampstart-input>input::-ms-input-placeholder,_:-ms-lang(x) {
  color: transparent
}

.ampstart-input>select::-ms-expand {
  display: none
}

.ampstart-headerbar {
  background-color: $background-color;
  z-index: 999;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.1)
}

.ampstart-headerbar+:not(amp-sidebar),.ampstart-headerbar+amp-sidebar+* {
  margin-top: 3.5rem
}

.ampstart-headerbar-nav .ampstart-nav-item {
  padding: 0 1rem;
  background: transparent;
  opacity: .8
}

.ampstart-headerbar-nav {
  line-height: 3.5rem
}

.ampstart-nav-item:active,.ampstart-nav-item:focus,.ampstart-nav-item:hover {
  opacity: 1
}

.ampstart-navbar-trigger:focus {
  outline: none
}

.ampstart-nav a,.ampstart-navbar-trigger,.ampstart-sidebar-faq a {
  cursor: pointer;
  text-decoration: none
}

.ampstart-nav .ampstart-label {
  color: inherit
}

.ampstart-navbar-trigger {
  line-height: 3.5rem;
  font-size: 1.625rem
}

.ampstart-headerbar-nav {
  -ms-flex: 1;
  flex: 1
}

.ampstart-nav-search {
  -ms-flex-positive: 0.5;
  flex-grow: 0.5
}

.ampstart-headerbar .ampstart-nav-search:active,.ampstart-headerbar .ampstart-nav-search:focus,.ampstart-headerbar .ampstart-nav-search:hover {
  box-shadow: none
}

.ampstart-nav-search>input {
  border: none;
  border-radius: 3px;
  line-height: normal
}

.ampstart-nav-dropdown {
  min-width: 200px
}

.ampstart-nav-dropdown amp-accordion header {
  background-color: $background-color;
  border: none
}

.ampstart-nav-dropdown amp-accordion ul {
  background-color: $background-color
}

.ampstart-nav-dropdown .ampstart-dropdown-item,.ampstart-nav-dropdown .ampstart-dropdown>section>header {
  background-color: $background-color;
  color: $text-color
}

.ampstart-nav-dropdown .ampstart-dropdown-item {
  color: #808992
}

.ampstart-sidebar {
  background-color: $background-color;
  color: $text-color;
  min-width: 300px;
  width: 300px
}

.ampstart-sidebar .ampstart-icon {
  fill: #808992
}

.ampstart-sidebar-header {
  line-height: 3.5rem;
  min-height: 3.5rem
}

.ampstart-sidebar .ampstart-dropdown-item,.ampstart-sidebar .ampstart-dropdown header,.ampstart-sidebar .ampstart-faq-item,.ampstart-sidebar .ampstart-nav-item,.ampstart-sidebar .ampstart-social-follow {
  margin: 0 0 2.5rem
}

.ampstart-sidebar .ampstart-nav-dropdown {
  margin: 0
}

.ampstart-sidebar .ampstart-navbar-trigger {
  line-height: inherit
}

.ampstart-navbar-trigger svg {
  pointer-events: none
}


.ampstart-headerbar {
  background: $background-color;
  color: $text-color;
  padding-right: 1rem
}

.ampstart-headerbar-nav {
  -ms-flex: none;
  flex: none
}

@media (min-width:52.06rem) {
  .ampstart-headerbar-nav {
    -ms-flex: 1;
    flex: 1
  }

  .ampstart-headerbar-fixed-link {
    margin-right: 1rem
  }
}

.ampstart-headerbar-nav>ul {
  text-align: right;
  float: right
}

.ampstart-headerbar-title {
  font: 600 1.125rem/1.6 Montserrat,arial,sans-serif
}

.ampstart-navbar-trigger {
  font-size: 1.5rem
}

.ampstart-headerbar-fixed-link {
  margin-right: 0
}

.ampstart-sidebar .ampstart-nav-dropdown section header {
  height: 0;
  width: 0;
  margin: 0
}

.ampstart-headerbar .ampstart-nav-dropdown {
  display: none
}

.ampstart-nav-item {
  font-family: Inconsolata,verdana,sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem
}

.land-see-sidebar-nav-item {
  font-family: Montserrat,arial,sans-serif;
  color: $text-color;
  text-transform: capitalize;
  letter-spacing: .6px;
  line-height: 2.0625
}

.ampstart-dropdown-item {
  font: 400 .9375rem/2.5rem Inconsolata,verdana,sans-serif;
  text-transform: uppercase;
  letter-spacing: normal
}

.ampstart-sidebar .ampstart-dropdown-item {
  margin-bottom: 0
}

.ampstart-nav-dropdown {
  padding-bottom: .75rem
}

.ampstart-nav-dropdown .ampstart-dropdown-item,.ampstart-nav-dropdown amp-accordion ul,.ampstart-sidebar {
  background-color: $background-color;
}

.ampstart-sidebar-nav>ul>li:first-child {
  margin-bottom: 0
}

.ampstart-dropdown-items>li:last-child {
  margin-bottom: 1rem
}

.ampstart-label {
  line-height: 2.0625
}

.ampstart-sidebar .ampstart-dropdown-items:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #efe5e3
}

.ampstart-sidebar .ampstart-sidebar-nav:after {
  content: "";
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  }

.ampstart-sidebar .ampstart-icon,.land-see-story-nav .ampstart-icon {
  color: $background-color;
  fill: $background-color;
}

.ampstart-sidebar .ampstart-social-follow,.ampstart-social-follow {
  margin: 0
}

.ampstart-social-follow>li {
  margin-right: 0
}

.ampstart-sidebar .ampstart-nav-item {
  margin: 0 0 .5rem
}

.ampstart-sidebar .ampstart-faq-item {
  margin-bottom: 1.5rem
}