{{ define "main" }}

<div><!-- wrapper -->
  <div class="px4 lg-px4">
    <div class="max-width-3 mx-auto">
      <article class="clearfix mxn2">

        {{ partial "helper/article-header.html" . }}
        {{ partial "helper/summary-content.html" . }}

        <ul class="toc-list">
          {{ range sort .Pages "File.TranslationBaseName" }}
              <li>
                <a href="{{.Permalink}}">{{ if .Params.Subtitle }}{{ .Params.Subtitle }} – {{ end }}{{ .Title }}</a>
              </li>
          {{ end }}
        </ul>

      </article><!-- /clearfix -->
    </div><!-- /max-width-2 -->
  </div><!-- /padding -->
</div><!-- /wrapper -->
{{ end }}