{{ define "main" }}

<div><!-- wrapper -->
  <div class="px4 lg-px4">
    <div class="max-width-3 mx-auto">
      <article class="clearfix mxn2">

        {{ partial "helper/article-header.html" . }}
        {{ partial "helper/summary-content.html" . }}

        {{ if eq .Page.Params.blognews false }}{{ else }}
          <p>
            {{ range first 1 .Site.Data.social_media_news }}
              <a class="button warning" href="/magazin/social-media/social-media-news/#id-1">Neues aus dem Blog: <em>»{{ .title }}«</em></a>
            {{ end }}
          </p>
        {{ end }}
        <ul class="toc-list">
          {{ range sort .Pages "File.TranslationBaseName" }}
              <li>
                <a href="{{.Permalink}}">{{ if .Params.Subtitle }}{{ .Params.Subtitle }} – {{ end }}{{ .Title }}</a>
              </li>
          {{ end }}
        </ul>

      </article><!-- /clearfix -->
    </div><!-- /max-width-2 -->
  </div><!-- /padding -->
</div><!-- /wrapper -->


{{ partial "advertisment/wordpress-buch.html" . }}

{{ end }}