{{ define "main" }}

<div><!-- wrapper -->
  <div class="clearfix ">
    <div class="max-width-4 mx-auto">
      <article>

        <div class="col col-12 px2">
          <header>
            <h1>{{ if .Page.Params.Subtitle }}
              <span class="subtitle sans caps mt2 mb0">{{ .Page.Params.Subtitle }}</span><br>{{ end }}
              {{ .Title }}
            </h1>
          </header>

          {{ .Content }}
        </div>

        <div class="col col-6 lg-col-4 px2">
          <a href="{{ .Site.BaseURL }}magazin/social-media/">
            <amp-img
              src="{{ .Site.BaseURL }}images/socialmedia/cover-social-media-leitfaden-500-656.jpg"
              width="500"
              height="656"
              layout="responsive">
            </amp-img>
          </a>
          <p>
            Dieser Leitfaden komplettiert meine <a href="{{ "/seminare/social-media/" | absURL }}">Social Media Seminare</a>. An dieser Stelle findest Du aktuelle Fakten, Entwicklungen und Beschreibungen der sozialen Netzwerke.
          </p>
          <p>
            <a href="{{ .Site.BaseURL }}magazin/social-media/" class="button">Zum Leitfaden ›</a>
          </p>
          <p>Aktuelle Entwicklungen, Trends und Studien gibt es in unserem kleinen Social Media News-Blog.</p>
          <p>
            <a href="{{ ref . "2018-12-01-social-media-news.md" }}" class="button success">Social Media News ›</a>
          </p>
        </div>


        <div class="col col-6 lg-col-4 px2">
          <a href="{{ .Site.BaseURL }}magazin/webdesign/">
            <amp-img
              src="{{ .Site.BaseURL }}images/webdesign/cover-webdesign-lernen-500x656.jpg"
              width="500"
              height="656"
              layout="responsive">
            </amp-img>
          </a>
          <p>
            Ob HTML5 und CSS oder WordPress: Die Phlow-Anleitungen und Video-Tutorials bieten Dir fundiertes Wissen, dass wir im Bereich Webdesign seit 2000 gesammelt haben. Lerne mit Phlow Webdesign.
          </p>
          <p>
            <a href="{{ .Site.BaseURL }}magazin/webdesign/" class="button">Webdesign lernen ›</a>
          </p>
        </div>

        <div class="col col-6 lg-col-4 px2">
          <a href="{{ .Site.BaseURL }}magazin/terminal/">
            <amp-img
              src="{{ .Site.BaseURL }}images/terminal/cover-terminal-fuer-webdesigner-500x656.jpg"
              width="500"
              height="656"
              layout="responsive">
            </amp-img>
          </a>
          <p>
            Richtig genutzt, ist das Mac Terminal ein exzellentes und mächtiges Werkzeug für Webdesigner, dass dank Stappelverarbeitung Zeit spart, langweilige Prozesse automatisiert und die eigene Produktivität erhöht.
          </p>
          <p>
            <a href="{{ .Site.BaseURL }}magazin/terminal/" class="button">Zum Special ›</a>
          </p>
        </div>


      </article><!-- /clearfix -->
    </div><!-- /max-width-2 -->
  </div><!-- /padding -->



  <div class="clearfix ">
    <div class="max-width-4 mx-auto">



        <div class="col col-6 lg-col-5 px2">
          <p>
            Das Phlow Magazin bietet Ihnen Wissen rund um das große Thema <em>Inhalte veröffentlichen im Internet</em>. Dafür bieten wir Ihnen einen wachsenden Schatz von Beiträgen, die Ihnen in nachvollziehbaren Anleitungen schrittweise zeigen, wie Sie professionell Webseiten gestalten und Inhalte veröffentlichen.
          </p>
          <p>
            <a href="{{ ref . "info-phlow-magazin.md" }}" class="button">Mehr über ›</a>
          </p>
        </div>


        <div class="col col-6 lg-col-7 px2">
        </div>





      </article><!-- /clearfix -->
    </div><!-- /max-width-2 -->
  </div><!-- /padding -->
</div><!-- /wrapper -->
{{ end }}