{{ define "main" }}

<div><!-- wrapper -->
  <div class="clearfix">
    <div class="max-width-5 mx-auto">
      <article>

        <div class="col col-12 px2 mt2">
          <header>
            <h1 class="">{{ if .Page.Params.Subtitle }}
              <span class="subtitle sans caps mt2 mb0">{{ .Page.Params.Subtitle }}</span><br>{{ end }}
              {{ .Title }}
            </h1>
          </header>

          {{ .Content }}
        </div>


        <div class="col xs-col-12 sm-col-6 md-col-4 px2">
          <a href="{{ .Site.BaseURL }}magazin/webdesign/">
            <amp-img
              class="xs-hide"
              src="{{ .Site.BaseURL }}images/webdesign/cover-webdesign-lernen-500x656.jpg"
              width="500"
              height="656"
              alt="Webdesign Lernen"
              layout="responsive">
            </amp-img>
          </a>
          <h2 class="mt1"><a href="{{ .Site.BaseURL }}magazin/webdesign/">Webdesign</a></h2>
          <p>
            Ob HTML5 und CSS oder WordPress: Die Phlow-Anleitungen und Video-Tutorials bieten Dir fundiertes Wissen, dass wir im Bereich Webdesign seit 2000 gesammelt haben. Lerne mit Phlow Webdesign.
          </p>
          <p>
            <a href="{{ .Site.BaseURL }}magazin/webdesign/" class="button">Webdesign lernen ›</a>
          </p>
        </div>


        <div class="col xs-col-12 sm-col-6 md-col-4 px2">
          <a href="{{ .Site.BaseURL }}magazin/journalismus/">
            <amp-img
              class="xs-hide"
              src="{{ .Site.BaseURL }}images/journalismus/cover-journalismus-500x656.jpg"
              width="500"
              height="656"
              alt="Anleitungen Texten fürs Web"
              layout="responsive">
            </amp-img>
          </a>
          <h2 class="mt1"><a href="{{ .Site.BaseURL }}magazin/journalismus/">Texten fürs Web</a></h2>
          <p>
            Worauf kommt es beim Texten an? Wie schreibe ich eine Nachricht und wie ein Interview? Wie formuliere ich meine Texte für soziale Medien? Wie recherchiere ich und quetsche die besten Informationen aus den Suchmaschinen? Unsere Anleitungen, Videos und Tipps unterstützen Dich beim digitalen Publizieren.
          </p>
          <p>
            <a href="{{ .Site.BaseURL }}magazin/journalismus/" class="button">Journalismus lernen ›</a>
          </p>
        </div>


        <div class="col xs-col-12 sm-col-6 md-col-4 px2">
          <a href="{{ .Site.BaseURL }}magazin/terminal/">
            <amp-img
              class="xs-hide"
              src="{{ .Site.BaseURL }}images/terminal/cover-terminal-fuer-webdesigner-500x656.jpg"
              width="500"
              height="656"
              alt="Den Umgang mit dem Terminal lernen"
              layout="responsive">
            </amp-img>
          </a>
          <h2 class="mt1"><a href="{{ .Site.BaseURL }}magazin/terminal/">Das Terminal</a></h2>
          <p>
            Richtig genutzt, ist das Mac Terminal ein exzellentes und mächtiges Werkzeug für Webdesigner, dass dank Stappelverarbeitung Zeit spart, langweilige Prozesse automatisiert und die eigene Produktivität erhöht.
          </p>
          <p>
            <a href="{{ .Site.BaseURL }}magazin/terminal/" class="button">Zum Special ›</a>
          </p>
        </div>


      </article><!-- /clearfix -->
    </div><!-- /max-width-2 -->
  </div><!-- /padding -->
</div><!-- /wrapper -->
{{ end }}

