{{ define "main" }}
<!-- wrapper --><div>
  <!-- padding --><div class="px4 lg-px4">

    <div class="max-width-4 mx-auto">
      <div class="clearfix">
        <h1>{{ .Title }}</h1>

        {{ .Content }}

          <ul>
            {{ range .Pages }}
                <li>
                  <a href="{{.Permalink}}">{{.Title}}</a>
                </li>
            {{ end }}
          </ul>
      </div><!-- /clearfix -->


      <div class="clearfix mxn2">
        <div class="sm-col sm-col-6 px2">

          <h2>WordPress</h2>

          <ul>
            {{ range .Site.Taxonomies.tags.wordpress }}
              <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            {{ end }}
          </ul>
        </div>

        <div class="sm-col sm-col-6 px2">

          <h2>Journalismus</h2>

          <ul>
            {{ range .Site.Taxonomies.tags.journalismus }}
                  <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            {{ end }}
          </ul>

        </div>
      </div>
    </div><!-- /max-width-4 -->

  </div><!-- /padding -->
</div><!-- /wrapper -->
{{ end }}
