{{ define "main" }}
<div><!-- wrapper -->
  <!-- padding --><div class="px4 lg-px4">

    <div class="max-width-4 mt2 mx-auto">
      <div class="clearfix">
        <h1>{{ .Title }}</h1>

        {{ .Content }}

      </div><!-- /clearfix -->


      <div class="clearfix mxn2">
        <div class="sm-col sm-col-6 px2">

          <h2>WordPress</h2>

          <ul class="toc-list">
            {{ range .Site.Taxonomies.tags.wordpress }}
              <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            {{ end }}
          </ul>
        </div>

        <div class="sm-col sm-col-6 px2">

          <h2>Social Media</h2>

          <ul class="toc-list">
            {{ range .Site.Taxonomies.tags.socialmedia }}
              <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            {{ end }}
          </ul>
        </div>


        <div class="sm-col sm-col-6 px2">

          <h2>Marketing</h2>

          <ul class="toc-list">
            {{ range .Site.Taxonomies.tags.marketing }}
              <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            {{ end }}
          </ul>
        </div>

        <div class="sm-col sm-col-6 px2">

          <h2>Journalismus</h2>

          <ul class="toc-list">
            {{ range .Site.Taxonomies.tags.journalismus }}
                  <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            {{ end }}
          </ul>

        </div>
      </div>
    </div><!-- /max-width-4 -->

  </div><!-- /padding -->
</div><!-- /wrapper -->
{{ end }}
