body {
  background: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#bloglogo {
  font-family: UnifrakturMaguntia;
  line-height: 1em;
  font-size: 5em;
  color: $ci-1;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
#bloglogo a { border: 0; }
#bloglogo a:hover {
  box-shadow: inset 0 0 0 $text-color; 
  -webkit-box-sizing: content-box; 
  box-sizing: content-box; 
  border: none;
  color: $text-color;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 3px;
  text-shadow: -3px 0 1px rgb(30,242,241) , 3px 0 1px rgb(246,5,10) ;
}
#slogan {
  font-family: $base-font-family;
  font-style: italic;
  font-weight: 300;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 680px) {
    #bloglogo {
      font-size: 3.5em;
    }
    body {
      font-size: 16px;
    }
}

@media only screen and (min-width: 681px) {
    body {
      font-size: 20px;
    }
}

/* Button Styles
-------------------------------------------------------- */

button,
.button.noborder {
  -webkit-transition: all .3s cubic-bezier(.33,.66,.66,1);
  transition: all .3s cubic-bezier(.33,.66,.66,1);
  color: $background-color;
  background: $ci-1;
  box-shadow: 0 0 #fff;
  border: 0;
}
button:hover,
.button.noborder:hover {
  background: darken($ci-1, 50%);
  box-shadow: 0 0 $grey-color-light;
}



/* Button Sizes
-------------------------------------------------------- */

button,
.button-small {
  font-size: $font-size-small;
  line-height: $font-size-small*1.5;
}
button,
.button-large {
  font-size: $h5;
}

