{{/* PRODUCTION */}}
{{ if not .Site.IsServer }}
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    {{ if .Page.Params.Amp.Carousel }}<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>{{ end }}
    {{ if .Page.Params.youtube }}<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>{{ end }}
    {{ if .Page.Params.vimeo }}<script async custom-element="amp-vimeo" src="https://cdn.ampproject.org/v0/amp-vimeo-0.1.js"></script>{{ end }}
    {{ if .Page.Params.iframe }}<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>{{ end }}
{{- else -}}
{{/* DEVELOPMENT */}}
    <script async src="{{ .Site.BaseURL }}assets/js/v0.js"></script>
    <script async custom-element="amp-sidebar" src="{{ .Site.BaseURL }}assets/js/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="{{ .Site.BaseURL }}assets/js/amp-accordion-0.1.js"></script>
    {{ if not .Site.IsServer }}<script custom-element="amp-analytics" src="{{ .Site.BaseURL }}assets/js/amp-analytics-0.1.js" async=""></script>{{ end }}
    {{ if .Page.Params.Amp.Carousel }}<script async custom-element="amp-carousel" src="{{ .Site.BaseURL }}assets/js/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-selector" src="{{ .Site.BaseURL }}assets/js/amp-selector-0.1.js"></script>{{ end }}
    {{ if .Page.Params.youtube }}<script async custom-element="amp-youtube" src="{{ .Site.BaseURL }}assets/js/amp-youtube-0.1.js"></script>{{ end }}
    {{ if .Page.Params.vimeo }}<script async custom-element="amp-vimeo" src="https://cdn.ampproject.org/v0/amp-vimeo-0.1.js"></script>{{ end }}
    {{ if .Page.Params.iframe }}<script async custom-element="amp-iframe" src="{{ .Site.BaseURL }}assets/js/amp-iframe-0.1.js"></script>
{{ end }}
{{ end }}

